<h1>Create a Rating</h1>

Please use a number from 1-10 for your Rating <br> <br>

<%= form_for(@rating) do |f| %>
  <%= f.label :book %>
  
  <%= f.collection_select :book_id, Book.order(:title),:id,:title, include_blank: true %>
  <%= f.label :number %>
  <%= f.text_field :number%>
  <%= f.label :comment %>
  <%= f.text_field :comment %>

<%= f.submit %>
  <% end %> 
 <br>
<%= link_to("My Book Isn't Listed. I want to create a new book first.", new_book_path) %>
